{erl_opts, [debug_info]}.
{deps, [{cowboy, "2.6.1"},
        {jsx, "2.9.0"}]}.

{relx, [{release, 
         {web0, "0.1.0"}, 
         [web0, cowboy, sasl, jsx],
         [{dev_mode, false},
          {include_erts, true},
          {extended_start_script, true}]
        }]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [web0]}
]}.
